.objects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
  max-width: 55rem;
  margin: 0 auto;

  .objects__item {
    border: 2px solid #3397a1;
    border-radius: 0.5rem;
    height: 8rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-filled-control-focus-background-color);
    padding: 1rem;

    &.selected {
      background-color: #7fffd477;
    }
  }
}
